<Configuration status="debug">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg iteration : [%X{iterationId}]%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{${LOG_PATTERN}} "/>
        </Console>
        <File name="GyorfiPal" fileName="src/test/logs/Győrfi_Pál.log">
            <filters>
                <TimeFilter start="05:00:00" end="20:00:00" onMatch="DENY" onMismatch="ACCEPT"/>
            </filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <!-- Statement markers -->
        <File name="Statement" fileName="src/test/logs/statements.log">
            <filters>
                <MarkerFilter marker="STATEMENT"  onMatch="ACCEPT" onMismatch="DENY"/>
            </filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <!-- Request markers -->
        <File name="Request" fileName="src/test/logs/requests.log">
            <filters>
                <MarkerFilter marker="REQUEST"  onMatch="ACCEPT" onMismatch="DENY"/>
            </filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <!-- NoMarkers -->
        <File name="NoMarkers" fileName="src/test/logs/nomarkers.log">
            <filters>
                <NoMarkerFilter onMatch="ACCEPT" onMismatch="DENY"/>
            </filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
    <Loggers>
        <Logger name="easterLogger" additivity="true" level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Statement"/>
            <AppenderRef ref="Request"/>
            <AppenderRef ref="NoMarkers"/>
            <AppenderRef ref="GyorfiPal"/>
        </Logger>
    </Loggers>
</Configuration>